body,
html {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 30px;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: normal;
}

p {
  font-size: 18px;
  font-weight: normal;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.side-bar-container {
  max-width: 100px;
  margin-top: 300px;
  text-align: center;
}

.side-bar-content {
  margin-top: 400px;
  align-items: center;
  display: inline-flex;
}

.work-line {
  border-left: 2px solid black;
  height: 100px;
  margin-left: 50%;
}

.image-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 8px;
}

.image-container {
  flex-shrink: 0;
  flex-basis: 49%;
}

.work-description-container {
  margin: 50px;
}

.learn-more-button {
  max-width: 125px;
  height: 40px;
  background-color: white;
  cursor: pointer;
}

.work-image-container {
  margin: 0 0 20px 20px;
}

img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.nav-list {
  list-style: none;
  align-items: center;
}

.nav-list-item {
  display: inline;
}

.nav-item-padding {
  padding-right: 25px;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: normal;
}

.small-icon {
  width: 30px;
  height: 30px;
  transform: rotate(180deg);
}