body,
html {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 30px;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: normal;
}



p {
  font-size: 16px;
  font-weight: normal;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-sub {
  display: flex;
  flex-direction: column;
  margin-top:15px;
}

.side-bar-container {
  max-width: 100px;
  margin-top: 400px;
  text-align: center;
}

.side-bar-text {
  transform: rotate(-90deg);
  white-space: nowrap;
  width: 100px;
}

.side-bar-placement-logo {
  transform: rotate(-90deg);
  margin-top: 8px;
}

.work-line {
  border-left: 2px solid black;
  height: 100px;
  margin-left: 50%;
}

.image-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
}

.image-row-sub {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
}

.image-container {
  flex-shrink: 0;
  flex-basis: 49%;

}

.work-description-container {
  width: 90%;
  min-width: 280px;
  margin: 16px 20px 50px 35px;
}
.work-description-container-inner {
  margin: 10px 20px 0px 20px;
}

.learn-more-button {
  width: 125px;
  height: 40px;
  background-color: white;
  cursor: pointer;
  margin-top: 20px;
}

.icon-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}


.learn-more-button:hover {
  border-color: blue;
}

.work-image-container {
  margin: 0 0 20px 20px;
}

.work-image-container-sub {
  margin: 0 0 20px 50px;
}

.work-image-container-mobile {
margin: 50px;
}

img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.nav-list {
  list-style: none;
  align-items: center;
}

.nav-list-item {
  display: inline;
}

.nav-item-padding {
  padding-right: 50px;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: normal;
}

.small-icon {
margin-top: 30px;
  width: 30px;
  height: 30px;
  transform: rotate(180deg);
}

.med-icon {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.sidebar-logo {
  width: 30px;
  height: 30px;
  transform: rotate(-90deg);
}

.underline-on-hover {
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.underline-on-hover:hover {
  border-bottom: 2px solid rgb(21, 0, 211);
}

.sub-title{
  padding-left: 30px;
}


h2 {

  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: normal;
}

.banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 25px;
  background-color: #ffffff;
  color: #000000;
  overflow: hidden;
  border-top: 1px solid #000;
}

.banner h2 {
  display: inline-block;
  position: absolute;
  margin: 0;
  padding: 5px;
  white-space: nowrap;
  animation: marquee 70s linear infinite;
  animation-delay: -33s;
}



@keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}