body,
html {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: normal;
}

p {
  font-size: 14px;
  font-weight: normal;

}

.icon-container {
  display: flex;
  flex-direction: row;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  z-index: 1;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

li {
  padding: 0 10px;
}

a {
  color: #000;
  text-decoration: none;
}

nav ul::before,
nav ul::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

nav ul::before {
  margin-left: -30px;
}

nav ul::after {
  margin-right: -30px;
}

.med-icon {
  width: 30px;
  height: 30px;
  padding-right: 10px;
  padding-top: 5px;
}


.flex-row {
  display: flex;
}

.contact-description-container {
  width: 100%;
  margin: 10px 30px;
}


.image-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 30px 10px 30px;
}


.img-mobile {
  width: 100%;
  margin: 0px 0px 10px 0px;
}

.img-mobile-vid {
  width: 100%;
  margin: 10px 0px 10px 0px;
}

img {
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0.1px;
  width: 100%;
  text-align: center;
  background-color: white;
}

footer p {
  margin-left: 25px;
  font-size: 8px;
}

.learn-more-button {
  width: 90px;
  height: 30px;
  background-color: white;
  cursor: pointer;
  margin-top: 10px;
  font-size: 10px;
  margin-bottom: 20px;
}

.small-icon {
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
  }

.company-logo{
  width: 25px;
  height: 25px;
  margin-right: 15px;

}

.title-and-logo {
  Padding-top:5px;
  width: 100%;
  display: flex;
  align-items: center;
}

.title {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: normal;
  display: inline-block;
  
}


.video-container {
  margin-left: 50px;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video-container iframe {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}